{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.11.1"}
         org.clojure/data.csv {:mvn/version "1.0.1"}
         kixi/kixi.large      {:git/url "https://github.com/MastodonC/kixi.large.git"
                               :sha "c593467394c7007b565fbd395afe00920c6d334d"}
         net.cgrand/xforms    {:mvn/version "0.19.2"}
         tick/tick            {:mvn/version "0.5.0-RC5"}}
 :aliases
 {:test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}
  :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts  ["-m" "hf.depstar.jar" "witan.cic.driver.jar"]}
  :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
            :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "witan.cic.driver.jar"]}
  :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
            :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "witan.cic.driver.jar"]}}}
